*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding-top: 0px;
    margin-top: 0px;
    justify-content: center;
}



.middle_part{
    display: flex;
    /* justify-content: ; */
    align-items: center;
    max-width: 1265px;
    margin: auto;
    max-height: 30px;
    background-color: rgb(202, 199, 199, 0.1);
}

.middle_part span{
    margin-left: 13px;
    font-weight: 500;
    font-size: 12px;
    color: #595959;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.middle_part_span{
    margin-left: 13px;
    font-weight: 500;
    font-size: 12px;
    color: #595959;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h1 {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 45px;
    margin-bottom: 30px;
}

.upper_hr{
    max-width: 1260px;
    margin-top: 0px;
    opacity: 0.2;

}


nav{
    max-width: 1260px;
    margin: auto;
}

.middle_nav{
    position:relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    background-color: rgb(202, 199, 199, 0.2);
}

.first_hr{
    margin-bottom: 0px;
    opacity: 0.4;
}

.middle_hr{
    margin-top: 0px;
    /* border: none; */
    background-color: black;
    height: 1px;
}

.middle_nav a{
    text-align: center;
    text-decoration: none;
    color: black;
    margin: 5px;
}

.middle_nav_1{
    margin-left: 15px;
}

.middle_nav_2_img_1{
    margin-right: 20px;
}

.middle_nav_2{
    /* margin: 5px; */
    margin-right: 15px;
}

.logo{
    width: 42px;
}

.second_last_nav{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2px;
    min-height: 25px;
    padding-bottom: auto;
}

.second_last_nav a{
    text-align: center;
    text-decoration: none;
    color: black;
}

.last_hr{
    margin-top: 4px;
    opacity: 0.2;
    margin-bottom: 20px;
}

.first_page {
    width: 75%;
    margin: auto;
    display: flex;
}


.left_side {

    width: 600px;
    height: 100%;
}


.text-overlay {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    margin-top: 225px;
    padding-left: 20px;
    font-family: Georgia;
    font-size: 28px;
    color: white;
    font-weight: bold;
    width: 500px;
    position: absolute;
    
}

.middle_content{
    height: 80px;
    display: flex;
}

.content{
    /* flex-direction: column; */
    /* align-items: center; */
    display: flex;
    min-width: 300px;
    /* margin-bottom: 16px; */
    text-align: left;
    border-bottom: 1px dotted rgb(169, 168, 168,0.1);
}

.content img{
    cursor: pointer;
    width: 100px;
    height: 56px;
    margin-left: 13px;
    margin-top: 12px;
    border-radius: 5px;
}


.content p{
    font-size: 14px;
    width: 140px;
    overflow:hidden;
    white-space: normal;
    overflow: break-word;
    /* color: rgb(90, 90, 90); */
    margin-top: 10px;
    margin-bottom: 1px;
    margin-left: 20px;
    text-overflow: ellipsis;
    /* margin-top: 10px;    */
}

.content a{
    text-decoration: none;
    color: black;
}

.horizontal-line {
    margin: 0;
    padding: 0;
    border: 1px dotted rgb(169, 168, 168,0.1);
}

.split-hr-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.split-hr-container hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: rgb(169, 168, 168,0.7); 
    margin: 0 10px; 
}

.content .forth p{
    padding: 0;
}

.vertical-line {
    margin-top: 0px;
    height: 30px; /* Adjust based on your needs */
    width: 1px; /* Line thickness */
    background-color:#aeacac; /* Line color */
    opacity: 0.2;
    margin-left: 10px;
    margin-bottom: 0px;

}

.vertical-line .upper{
    height: 15px;
    width: 15px;
}

.btn {
    font-size: 12px;
    height: 23px;
    align-items: center;
    text-align: center;
    padding: 1px 8px;
    font-weight:bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid red;
    cursor: pointer;

}


.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.middle_video{
    padding-left: 15px;
    margin-bottom: 25px;

}

.middle_video img{
    border-radius: 10px;
    width: 210px;
    height: 120px;
}

.middle_video p{
    margin-top: 10px;
    width: 220px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-size: medium;
}

.last{
    margin-left: 20px;
}

.container {
    width: 325px;
    height: 470px;
    border-radius: 15px;
    padding: 20px;
    margin-top: 360px;
    background-color: #fff5f6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.header {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 20px;
}

.header-left {
display: flex;
align-items: center;
}

.header-left img {
margin-right: 10px;
}

.header-right {
display: flex;
align-items: center;
}

.header-right button {
background-color: #dc3545;
color: #fff;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
}

.newspaper-image {
width: 80%;
margin-bottom: 20px;
display: flex;
justify-content: center;
align-items: center;
/* margin-left: 20px; */
}

.exclusive-stories {
margin-top: 20px;
}

.exclusive-stories ul {
list-style-type: disc;
/* margin-left: 10px; */
}

.exclusive-stories li {
margin-bottom: 10px;
}


.last_last_text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    margin-top: 50px;
    margin-left: 10px;
    padding-left: 0px;
    font-size: large;
}

.ad{
    margin-top: 60px;
    border: 1px solid #aeacac;
    border-radius: 5px;
}

.trending-news {
background-color: #fff;
padding: 10px;
width: 100%;
}



.news-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.news-list li {
border: 1px solid #f6f6f6;
font-size: smaller;
font-family: Verdana, Geneva, Tahoma, sans-serif;
padding: 2px;
background-color: #f6f6f6;
border-radius: 25px;
display: inline;
margin-right: 20px;
}

.news-list li a {
text-decoration: none;
color: #666;
/* font-size: 16px; */
}

.news-list li a:hover {
color: #000;
}

.no_css{
    border: none;
    font-size: small;
    /* padding: 2px; */
    background-color: none;
    /* border-radius: 25px; */
    /* display: inline; */
    /* margin-right: 20px; */

}

.last_hr_last{
    max-width: 1260px;
    margin-top: 40px;
    margin-bottom: 2px; 
    opacity: .6;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    font-weight: 500;
    font-size: 12px;
    color: #595959;
    background-color: rgb(199, 199, 199, 0.1);
    border: none;
    cursor: pointer;
    /* border: 1px solid #ccc; */
    display: flex;
    align-items: center;
}

.dropbtn_link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: #000;
    border: none;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 4px 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.flag-icon {
    width: 20px;
    margin-right: 8px;
}
